@model IEnumerable<UI.WebMatricula1C2023.Models.Curso.Salida.DatosCurso>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <br />
    <h2>Gestión de Cursos</h2>

    <div class="container-fluid">
        <br />
        <div style="width:100%; margin:0 auto;">
            <button id='btnAbrirDialogAgregarCurso' class="btn btn-primary" style="background-color: #1A2DF3; width:10%">Agregar</button>
            <br /><br />
            <table class="display" id="CursosTabla" style="width:100%">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Creditos</th>
                        <th>Horario</th>
                        <th>Cupo</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td id='IdentificacionParam'>
                                @Html.DisplayFor(modelItem => item.Nombre)
                            </td>
                            <td id='NombreParam'>
                                @Html.DisplayFor(modelItem => item.Creditos)
                            </td>
                            <td id='CorreoElectronicoParam'>
                                @Html.DisplayFor(modelItem => item.Horario)
                            </td>
                            <td id='CorreoElectronicoParam'>
                                @Html.DisplayFor(modelItem => item.Cupo)
                            </td>
                            <td id='EstadoParam'>
                                @Html.DisplayFor(modelItem => item.Estado)
                            </td>
                            <td style="align-items:center">
                                <a name="btnEditarCurso" data-id="@item.Codigo" style="color: #1A2DF3"><i class="fa fa-edit"></i></a>
                                <a name="btnEliminarCurso" data-id="@item.Codigo" style="color: #1A2DF3"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
    <div id="modalAgregarCurso" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Agregar Curso</h4>
                </div>
                <br />
                <div style="width: 80%; margin-left: 10%" class="modal-body">
                    <div>
                        <label for="exampleInputEmail1">Código de Curso:</label>
                        <input class="form-control" id="IDAgregarCursoCodigo" disabled placeholder="Sin asignar">
                    </div>
                    <div style="margin-top: 3%">
                        <label for="exampleInputEmail1">Digite el Nombre:</label>
                        <input class="form-control" id="IDAgregarCursoNombre">
                    </div>
                    <div style="margin-top: 3%">
                        <label for="exampleInputEmail1">Digite los Creditos:</label>
                        <input class="form-control" id="IDAgregarCursoCreditos">
                    </div>
                    <div style="margin-top: 3%">
                        <label for="exampleInputEmail1">Digite el Horario:</label>
                        <input class="form-control" id="IDAgregarCursoHorario">
                    </div>
                    <div style="margin-top: 3%">
                        <label for="exampleInputEmail1">Digite el Cupo:</label>
                        <input class="form-control" id="IDAgregarCursoCupo">
                    </div>
                    <div style="margin-top: 3%">
                        <label for="exampleInputEmail1">Digite el Estado:</label>
                        <select id="IDAgregarCursoEstado" class="select form-control">
                            <option value="Activo" selected>Activo</option>
                            <option value="Inactivo">Inactivo</option>
                        </select>
                    </div>
                </div>
                <br />
                <div class="modal-footer">
                    <button id='btnCancelarCurso' type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                    <button id='btnAgregarCurso' type="button" class="btn btn-primary" style="background-color: #1A2DF3">Aceptar</button>
                </div>
            </div>
        </div>
    </div>

    <div id="modalVentanaExitosaCurso" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <br />
                <div style="width: 80%; margin-left: 10%" class="modal-body">
                    <p>Transacción realizada exitosamente</p>
                </div>
                <br />
                <div class="modal-footer">
                    <button id='btnMensajeExitosoCurso' type="button" class="btn btn-primary" style="background-color: #1A2DF3">Aceptar</button>
                </div>
            </div>
        </div>
    </div>

    <div id="modalVentanaEliminarCurso" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <br />
                <div style="width: 80%; margin-left: 10%" class="modal-body">
                    <p>¿Está seguro que desea eliminar el Curso?</p>
                </div>
                <br />
                <div class="modal-footer">
                    <button id='btnAceptarEliminarCursoConfirmacion' type="button" class="btn btn-primary" style="background-color: #1A2DF3">Aceptar</button>
                    <button id='btnCancelarEliminarCursoConfirmacion' type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div id="canvas-holder" style="width:40%">
            <canvas id="vistas-chart"></canvas>
        </div>
        <script>
            new Chart(document.getElementById("vistas-chart"), {
                type: 'pie',
                data: {
                    labels: @Html.Raw(ViewBag.Etiquetas),
                    datasets: [{
                        label: "Cursos por estado",
                        backgroundColor: @Html.Raw(ViewBag.Colores) ,
                        data: @Html.Raw(@ViewBag.Valores)
                                                }]
                },
                options: {
                    title: {
                        display: true,
                        text: 'Cursos por estado'
                    }
                }
            });
        </script>
    </div>
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    @section scripts
        {
        <script src="~/Scripts/Curso.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
        <script type="text/javascript" src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
        <script type="text/javascript" src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>

    }
</main>
<script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script><script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js" integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha" crossorigin="anonymous"></script>